.container {
  margin: 0 auto;
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(88, 88, 88);
  background-color: white;
}
