.Logo-appear {
  opacity: 0;
}

.Logo-appear-active {
  opacity: 1;
/* color: rgb(31, 54, 77); */
  transition: opacity 500ms linear;
}

.Alert-enter {
  opacity: 0;
  transform: translateX(100%);
}

.Alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}

.Alert-exit {
  opacity: 1;
  transform: translateX(0);
}

.Alert-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 250ms linear;
}
